.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 8%;
    background-color: rgba(10, 10, 10, 0.7);
    backdrop-filter: blur(10px);
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.logo {
    font-size: 1.8rem;
    font-weight: 700;
    color: #ff6b00;
}


.logo span {
    color: #fff;
}

.nav-links {
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav-links li {
    position: relative;
    cursor: pointer;
    transform: 0.3s ease;

}

.nav-links li:hover {
    color: #ff6b00;
}


.join-btn {
    background: linear-gradient(90deg, #ff6b00, #ff3300);
    border: none;
    padding: 10px 25px;
    border-radius: 25px;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s ease;
}

.join-btn:hover {
    transform: scale(1.08);
    box-shadow: 0 0 15px #ff6b00;
}